@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  cursor: none;
  /* Hide default cursor */
}

a,
button,
input,
[role="button"] {
  cursor: none;
  /* Ensure interactive elements don't show pointer */
}

canvas {
  touch-action: none;
}