@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  cursor: none;
  /* Hide default cursor */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 25s linear infinite;
}

@keyframes terminal-prompt-blink {

  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

.terminal-prompt-blink {
  animation: terminal-prompt-blink 1s steps(1, end) infinite;
}

::-webkit-scrollbar {
  display: none;
}

a,
button,
input,
[role="button"] {
  cursor: none;
  /* Ensure interactive elements don't show pointer */
}

canvas {
  touch-action: none;
}

@keyframes trace {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}